@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <div>
            <h1>Market Garden</h1>
            <p class="lead">Allied invasion of normandy? No, it's a tool for market gardeners to coordinate with their customers.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        

    </div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Planning your garden</h2>
        <p>
            Market Garden gives you a simple tool to plan the products you'll be planting during the growing season.
        </p>
        <p>@Html.ActionLink("My Operation", "Index", "Operation", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <h2>Browse products</h2>
        <p>Browse products from Market Gardeners, subscribe to their weekly CSA, or make individual orders.</p>
        <p>@Html.ActionLink("Browse Products", "Index", "Customer", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>